@using ToDoApplication.Models.Enum
@{
    ViewData["title"] = "Home Page";
}

<h4 class="mb-3 text-muted">Создание задачи</h4>
<form id="createTaskForm">
    <div class="mb-4">
        <label class="form-label">Название задачи</label>
        <input name="name" type="text" class="form-control" />
    </div>
    <div class="mb-4">
        <label class="form-label">Приоритет задачи</label>
        <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<TaskPriority>()"> </select>
    </div>
    <div class="mb-3">
        <label class="form-lable">Описание задачи</label>
        <textarea name="description" type="text" class="form-control" rows="5"></textarea>
    </div>
    <button class="btn btn-primary" id="createTask">Создать</button>
</form>

@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#createTask').on('click', function (e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Task")',
                data: $('#createTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (response) {
                     Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                     })
                }
            })
        });
    </script>
}